.logo-container{
    display: flex;
    align-items: center;
    gap: 15px;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo-img{
    width: 50px;
    height:auto
}

.logo-text{
    font-size: 24px;
    font-weight: bold;
    margin:0;
}

.brand-text{
    font-size: 45px;
    font-weight: 700;
    letter-spacing: -0.5px;
}

.header{
    display: flex;
    justify-content: center;
}

